
body {
font-family: 'Roboto', sans-serif ;
font-size: 16px;
font-weight: normal;
background-color: rgb(225, 231, 232);
color: rgba(0, 0, 0, 0.893);

}

a{
    color: rgb(0, 0, 255);
text-decoration: none;
 transition: all .4s; 
}



 a:hover {
    color: rgb(0, 21, 255);
    font-size:  1rem; ;
}
/* a:visited {
     color: rgb(142, 0, 207);
} */

a:active {
  color: rgb(0, 255, 17);
  
}







.container {
  max-width: 750px;
  margin: auto;
  padding-top: 29px;
}

.avatar{
width: 200px;
border-radius: 28px;
box-shadow:6px 6px 17px rgba(0, 0, 0, 0.893) ;


}

.info  {
  margin-bottom: 20px;
  display: flex;
}

.info-text {
  margin-left: 20px;
}

.info-text p  {
font-style: italic;
font-weight: 800;
color: rgb(108, 107, 106); 
margin-bottom: 2px;
border-width: 2px;
border-color: rgb(248, 0, 0);
border-style: ridge;
border-radius: 4px;
}

.info-text h3 {
  padding-bottom: 33px;
}

@media (max-width: 700px) {
  .info {
    display: block;
    text-align: center;
  }
}

.card{
  border:2px solid rgb(0, 0, 0) ;
border-radius: 14px;
padding: 15px 20px ;
}
.card h2 {
margin-bottom: 10px;

}

.bg-yellow {
  
background:#1f02f8 ;
margin-bottom: 10px;
text-align: center;

}

.bg-red {
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  margin-top: 20px;
}

.bg-green {
  background-color: rgb(255, 0, 0);
  margin-bottom: 10px;
}


.circle{
  width: 50px;  
  height: 50px;
  background-color: rgb(204, 0, 255);
  border-radius: 50%;
} 

.btn {
    background-color: rgb(145, 35, 35);
    padding: 15px;
color: azure;
border: none;
cursor: pointer;
border-radius: 20px;
font-family: inherit;
}
.btn:hover {
opacity:.8 ;
color: rgb(3, 255, 3);
font-size: 1rem;
transition: all .4s;
text-decoration: none;
}

#finito {
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 30px;
}

#gg {
  background-color: rgb(52, 55, 57);
  padding: 8px 10px ;
  color: aliceblue;
  font-family: inherit;
  border: none;
  border-radius: 10px;
}

#gg:hover{
  opacity:.8 ;
color: rgb(255, 3, 3);
font-size: 1rem;
transition: all .4s;
text-decoration: none;
}

.bg-yellow td {
  width: 1%;
  
}

.list {
 padding-left: 10px;
 
}

.list li {
  color: rgb(255, 0, 0);
  margin-bottom: 10px;
}

.link-list {
  list-style: none;
  padding: 0;
}

.table td {
  padding-bottom: 10px;
}



.table td:nth-child(2) {
    background-color: rgb(0, 119, 255);
}
.table td:nth-child(1) {
    background-color: rgb(0, 119, 255);
}
.table td:nth-child(3) {
    background-color: rgb(0, 119, 255);
}

.form h2 {
  text-align: center;
}
.form-row {
margin-bottom: 10px;
display: flex;
}

.form-row .form-group {
/* display: inline-block; */
margin-right: 20px;
/* width: 46%; */
width: 50%;
}

@media (max-width: 650px) {
.form-row {
margin-bottom: 10px;
display: block;

}
.form-row .form-group {
  width: 100%;
margin-right: 0;
margin-bottom:10px ;
}
}


.form-group label {
  display: block;
  font-size: 14px;
  color: rgb(90, 86, 86);

}

.form-group input, 
  .form-group textarea {

  
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color:transparent;
border-bottom: 1px solid black;
padding: 15px 0 10px;
outline: none;
font-family: inherit;
}